<div class="row">
    <div class="col s12 m12">
        <div class="card-panel teal center-align">
            <span class="white-text">
                <h2>My Ninjas</h2>
            </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 m5">
        <ul class="ninjas collection">
            <li *ngFor="let ninja of ninjas" (click)="onSelect(ninja)" [class.active]="ninja === selectedNinja" class="collection-item">
            <span class="badge">{{ninja.id}}</span> {{ninja.name}}
            </li>
        </ul>    
    </div>  
    
    <div *ngIf="selectedNinja">
        <h2>
        {{selectedNinja.name | uppercase}} is my ninja
        </h2>
        <a (click)="gotoDetail()" class="waves-effect waves-light btn">View Details</a>
    </div>  
    
    <div *ngIf="!selectedNinja">
        <h2>
            No ninja selected :(
        </h2>
    </div>  
</div>